# directories to ignore
ASHRAE\ Std\ 205p/

# ignore .txt files
*.txt

# ignore user-specific stuff in PyCharm's .idea directory
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf